In [1]:
# Importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Reading data from input csv file
df = pd.read_csv("Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
X=df.iloc[:,[2,3]].values

In [5]:
y=df.iloc[:,-1].values

In [6]:
# Import the required function
from sklearn.model_selection import train_test_split

#splitting data into train and test datasets
X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.25,random_state=100)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [8]:
from sklearn.svm import SVC
classifier_rbf=SVC(kernel='rbf',random_state=0)
classifier_rbf.fit(X_train,y_train)
y_pred=classifier_rbf.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score
print('Accuracy: {}'.format(accuracy_score(y_pred, y_test)))

Accuracy: 0.92

In [10]:
from sklearn.metrics import confusion_matrix
cm_rbf=confusion_matrix(y_test,y_pred)
print(cm_rbf)

[[62  3]
 [ 5 30]]

In [11]:
test_matrix=cm_rbf[0][0]+cm_rbf[1][1]
total_matrix=cm_rbf.sum()
accuracy=test_matrix/total_matrix
print(accuracy)

0.92

In [12]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.93      0.95      0.94        65
           1       0.91      0.86      0.88        35

    accuracy                           0.92       100
   macro avg       0.92      0.91      0.91       100
weighted avg       0.92      0.92      0.92       100